*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    background: rgb(19, 26, 88);
    background-size:cover ;
    background-position:center ;
}
.title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
    font-size: 70px;
}
.container{
    display:flex;
    gap: 30px;
}
.btn{
    font-size: 30px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #f1ce4e;
    border: 1px solid #fff;
}
.btn:hover{
    color: #f3ece8;
    background-color: #ffea00;
}
